@font-face {
    font-family: 'SF Custom';
    src: url('../fonts/SFUIText-RegularG3.otf') format('opentype'); /* Fuente regular */
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'SF Custom';
    src: url('../fonts/SFUIText-BoldG3.otf') format('opentype'); /* Fuente bold */
    font-weight: 700; /* Bold */
    font-style: normal;
}

@font-face {
    font-family: 'SF Custom';
    src: url('../fonts/SFUIText-BoldItalicG3.otf') format('opentype'); /* Fuente regular italic */
    font-weight: 400; /* Regular */
    font-style: italic; /* Italic */
}

@font-face {
    font-family: 'SF Custom';
    src: url('../fonts/SFUIText-BoldItalicG3.otf') format('opentype'); /* Fuente bold italic */
    font-weight: 700; /* Bold */
    font-style: italic; /* Italic */
}

:root {
    --primary-blue: #0F29F4;
    --secondary-blue: #47A7FF;
    --dark-blue: #0035D9;
    --table-row-hover: #f8fafc;
    --table-header-border: #e2e8f0;
    --table-row-content: #334155;
    --modal-background: rgba(0, 0, 0, 0.5);
    --modal-secondary-button: #e0e0e0;
    --modal-secondary-button-hover: #d0d0d0;
    --div-shadow: rgba(0,0,0,0.1);
    --scrollbar-track: #f1f1f1;
    --scrollbar-thumb: #888;
    --scrollbar-thumb-hover: #555;
    --gray: #666666;
    --medium-gray: #cccccc;
    --light-gray: #f5f5f5;
    --white: #ffffff;
    --input-border: #ddd;
    --success-green: #22c55e;
    --danger-red: #ef4444;
    --danger-background: rgba(255, 153, 153, 0.1);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF Custom", sans-serif;
}

body {
    background-color: var(--light-gray);
}


/* Adjust main content to account for footer */
.main {
    padding: 2rem;
    max-width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px; /* Add margin to prevent content from being hidden by footer */
}