/* Transactions Section */
.transactions {
    background: var(--div-background);
    border-radius: 10px;
    box-shadow: 0 8px 16px var(--div-shadow);
    padding: 1.5rem;
}

.transactions__refresh-btn {
    background-color: var(--primary-blue);
    color: var(--button-color);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 20px;
    display: inline-flex;
    align-items: center;
    transition: background-color 0.2s ease;

}

.transactions__refresh-btn i {
    margin-right: 8px;
}

.transactions__refresh-btn:hover {
    background-color: var(--dark-blue);
}

/* Update Transactions Header Section */
.transactions__header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    gap: 0.5rem; /* Espaciado entre elementos */
}

.transactions__title {
    color: var(--label-color);
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 0 15px;
}

.transactions__sort-dropdown {
    background-color: var(--div-background); /* Fondo transparente */
    color: var(--table-tittle-color); /* Texto oscuro */
    border: 1px solid var(--div-background);
    border-bottom: 2px solid var(--primary-blue); /* Borde inferior azul */
    padding: 0.5rem 0.8rem; /* Espaciado interno */
    font-size: 1.1rem; /* Tamaño de texto más grande */
    font-weight: 500; /* Texto ligeramente más grueso */
    cursor: pointer;
    outline: none;
    position: relative;
    transition: border-color 0.2s ease;
}

/* Hover: Cambia ligeramente el borde inferior */
.transactions__sort-dropdown:hover {
    border-bottom-color: var(--dark-blue);
}

.transactions__wrapper {
    overflow-x: auto;
}

.transactions__table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.transactions__header th {
    background: var(--table-hover);
    color: var(--label-color);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.05em;
    padding: 1rem;
    text-align: center;
    border-bottom: 2px solid var(--table-border);
}

td {
    text-align: center;
}

.transactions__cell {
    padding: 1rem;
    border-bottom: 1px solid var(--table-border);
    color: var(--table-content-color);
    font-size: 0.95rem;
}

.transactions__row:hover {
    background-color: var(--table-hover);
}

.transactions__cell--symbol {
    font-weight: 600;
    color: var(--primary-blue);
}

.transactions__cell--change {
    color: var(--success-green);
    font-weight: 500;
}

.transactions__cell--change.down {
    color: var(--danger-red);
}

.transactions__cell--action {
    text-align: center;
}